:host ::ng-deep .relic-container {
    background-color: #f81d78;
    border-radius: 10px;
    margin-top: 10px;
    line-height: .8rem;
    padding: 8px;
    cursor: pointer;
}

.relic {
    :hover {
        background-color: var(--color-red);
    }
}

.relics-container {
    width: 100%;
    justify-content: center;
}