.lime {
    color: var(--color-lime)
}

.card-container {
    display: flex;

    h2 {
        color: var(--color-purple);
    }

    ::hover {
        scale: 1.2;
    }

    // mat-card-content {
    //     width: 100%;
    //     height: 100%;
    // }
}

.icon-container {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    color: var(--color-purple);

    mat-icon {
        width: 150px;
        height: 150px;
        font-size: 150px;
    }
}

.menu-card {
    // border-radius: 45%;
    width: 400px;
    height: 400px;
    min-width: 400px;
    min-height: 400px;
    background-color: var(--color-lime);
    margin: 1.5rem;
    cursor: pointer;

    ::hover {
        scale: 1.2;
        opacity: 0.8;
    }
}