
@use './variables' as *;

// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  height: 100%;
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

// body {
//   // Default the application to a light color theme. This can be changed to
//   // `dark` to enable the dark color theme, or to `light dark` to defer to the
//   // user's system settings.
//   color-scheme: light;

//   // Set a default background, font and text colors for the application using
//   // Angular Material's system-level CSS variables. Learn more about these
//   // variables at https://material.angular.dev/guide/system-variables
//   background-color: var(--mat-sys-surface);
//   color: var(--mat-sys-on-surface);
//   font: var(--mat-sys-body-medium);

//   // Reset the user agent margin.
//   margin: 0;
//   height: 100%;
// }
@font-face {
  font-family: 'kh-interference-regular';
  src: url('/font-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* Prevents invisible text during loading */
}

@font-face {
  font-family: 'kh-interference-light';
  src: url('/font-light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* Prevents invisible text during loading */
}

@font-face {
  font-family: 'kh-interference-bold';
  src: url('/font-bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* Prevents invisible text during loading */
}

@font-face {
  font-family: 'fraktion-mono-regular';
  src: url('/fraktion-mono-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* Prevents invisible text during loading */
}

@font-face {
  font-family: 'fraktion-mono-bold';
  src: url('/fraktion-mono-bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* Prevents invisible text during loading */
}

html {
  background-color: $purple;
  font-family: kh-interference-regular;
  // font-family: fraktion-mono-bold;
  h2 {
    font-family: kh-interference-bold;
  }
}

.unselectable {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none;     /* IE 10+ */
  user-select: none;         /* Standard syntax */
}

.cdk-overlay-pane.mat-mdc-dialog-panel {
  min-width: unset !important;
  width: 100%;
}

.mat-mdc-dialog-surface {
  background-color: $orange !important;
  border-radius: 10px !important;
}

.mat-mdc-dialog-container .mat-mdc-dialog-content {
  color: inherit !important;
  padding: 20px 12px !important;
}

.center-content {
  width: 100%;
  display: flex;
  justify-content: center;
}

.margin-left-5 {
  margin-left: 5px;
}
